<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Perfecto" %></title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <nav>
      <div class="container">
        <div class="left-content">
          <a class="nav-link projects-link" href="#">
            <img src="images/projects-icon.png"> <span> My Projects</span> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="textual-dropdown show"> <!-- TOGGLE SHOW HERE -->
            <li><a href="">Other Project</a></li>
            <li><a href="">Last Project</a></li>
            <li><a href="" class="primary-action"><i class="fa fa-plus"></i> Add New</a></li>
          </ul>
          <a class="nav-link actions-link" href="#">
            <img src="images/action-icon.png"><span> My Actions</span>
          </a>
        </div>
        <a href="" class="nav-logo">
          <img src="images/little-logo.png">
          <img src="images/jelly-logo.png" class="mobile-logo">
        </a>
        <div class="right-content">
          <a class="nav-link notifications-link empty" href="#">
            <i class="fa fa-bell-o"></i>
          </a>
          <a class="nav-link profile-link" href="#">
            <span>Adam Whitney</span>
            <img src="images/example.jpg">
          </a>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
