---
title: Kan Ban View
---

<div class="m-toolbar group padding-xs">
	<div class="container u-relative">
		<div class="u-pull-left">
			<div class="search-bar-container">	
				<i class="icon-search search-icon"></i>
				<input type="text" name="" class="search-bar">
			</div>
			<div class="icon-actions">
				<a href="" class="icon-link mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-chart-line"></i></a>
				<a href="" class="icon-link mdl-button mdl-js-button mdl-js-ripple-effect"><i class="icon-params"></i></a>
			</div>
		</div>
		<div class="u-pull-right">
			<a href="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent u-pill-btn"><i class="icon-plus"></i><span>Add Action</span></a>
		</div>
	</div>
</div>

<div class="container kan-ban-container margin-sm clear-top">
	<div class="group">
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section assigned">
					<h4>Assigned</h4>
					<button id="demo-assigned"
					        class="mdl-button mdl-js-button">
					  <i class="icon-down-open-mini"></i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="demo-assigned">
					  <li class="mdl-menu__item">Sort by Effort</li>
					  <li class="mdl-menu__item">Sort by Date</li>
					  <li class="mdl-menu__item">Sort by Priorty</li>
					</ul>
				</div>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#442</span>
							<h5>Name this Action</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-red">High</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date soon">
							<i class="icon-calendar"></i><span>Due in 1 days</span>
						</div>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-1"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-1">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section in-progess">
					<h4>In Progess</h4>
					<button id="demo-progress"
					        class="mdl-button mdl-js-button">
					  <i class="icon-down-open-mini"></i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="demo-progress">
					  <li class="mdl-menu__item">Sort by Effort</li>
					  <li class="mdl-menu__item">Sort by Date</li>
					  <li class="mdl-menu__item">Sort by Priorty</li>
					</ul>
				</div>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#301</span>
							<h5>Name this Action Its a title of a long action name see?</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-dark-blue">Low</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date overdue">
							<i class="icon-calendar"></i><span>Past Due Date</span>
						</div>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-2"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-2">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example3.jpg' %>
					</a>
				</article>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#301</span>
							<h5>Title of the action</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-dark-blue">Low</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date overdue">
							<i class="icon-calendar"></i><span>Past Due Date</span>
						</div>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-3"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-3">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example3.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section review">
					<h4>Under Review</h4>
					<button id="demo-review"
					        class="mdl-button mdl-js-button">
					  <i class="icon-down-open-mini"></i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="demo-review">
					  <li class="mdl-menu__item">Sort by Effort</li>
					  <li class="mdl-menu__item">Sort by Date</li>
					  <li class="mdl-menu__item">Sort by Priorty</li>
					</ul>
				</div>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#42</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-4"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-4">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example.jpg' %>
					</a>
				</article>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#32</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-5"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-5">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example2.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section completed">
					<h4>Completed</h4>
					<button id="demo-complete"
					        class="mdl-button mdl-js-button">
					  <i class="icon-down-open-mini"></i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="demo-complete">
					  <li class="mdl-menu__item">Sort by Effort</li>
					  <li class="mdl-menu__item">Sort by Date</li>
					  <li class="mdl-menu__item">Sort by Priorty</li>
					</ul>
				</div>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#42</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<!-- Right aligned menu below button -->
					<button id="contextual-6"
					        class="contextual mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">more_vert</i>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
					    for="contextual-6">
					  <li class="mdl-menu__item">Some Action</li>
					  <li class="mdl-menu__item">Another Action</li>
					  <li disabled class="mdl-menu__item">Disabled Action</li>
					  <li class="mdl-menu__item">Yet Another Action</li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example2.jpg' %>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>