---
title: Kan Ban View
---

<div class="m-toolbar group padding-xs">
	<div class="container u-relative">
		<div class="u-pull-left">
			<div class="search-bar-container">	
				<i class="icon-search search-icon"></i>
				<input type="text" name="" class="search-bar">
			</div>
			<div class="icon-actions">
				<a href="" class="icon-link"><i class="icon-chart-line"></i></a>
				<a href="" class="icon-link"><i class="icon-params"></i></a>
			</div>
		</div>
		<div class="u-pull-right">
			<a href="" class="u-pill-btn blue"><i class="icon-plus"></i><span>Add Action</span></a>
		</div>
	</div>
</div>

<div class="container kan-ban-container margin-sm clear-top">
	<div class="group">
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section assigned">
					<h4>Assigned</h4>
					<a href="#" class="white-link" ><i class="icon-down-open-mini"></i></a>
				</div>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#442</span>
							<h5>Name this Action</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-red">High</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date soon">
							<i class="icon-calendar"></i><span>Due in 1 days</span>
						</div>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<ul class="textual-dropdown">
					  <li><a href="">Action</a></li>
					  <li><a href="">Other Action</a></li>
					  <li><a href="" class="primary-action"><i class="icon-plus"></i> Primary Action</a></li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section in-progess">
					<h4>In Progess</h4>
					<a href="#" class="white-link" ><i class="icon-down-open-mini"></i></a>
				</div>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#301</span>
							<h5>Name this Action Its a title of a long action name see?</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-dark-blue">Low</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date overdue">
							<i class="icon-calendar"></i><span>Past Due Date</span>
						</div>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<ul class="textual-dropdown">
					  <li><a href="">Action</a></li>
					  <li><a href="">Other Action</a></li>
					  <li><a href="" class="primary-action"><i class="icon-plus"></i> Primary Action</a></li>
					</ul>
					<a href="" class="assignee">
						<%= image_tag 'example3.jpg' %>
					</a>
				</article>
				<article class="kan-ban-card">
					<div class="group">
						<div class="name">
							<span class="card-number">#301</span>
							<h5>Title of the action</h5>
						</div>
						<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
						<div class="group">
							<div class="stats">
								<div class="stats-column">
									Priority: <span class="u-bold u-dark-blue">Low</span>
								</div>
								<div class="stats-column">
									Effort: <span class="u-bold">2 Hours</span>
								</div>
							</div>
						</div>
						<div class="due-date overdue">
							<i class="icon-calendar"></i><span>Past Due Date</span>
						</div>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<a href="" class="assignee">
						<%= image_tag 'example3.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section review">
					<h4>Under Review</h4>
					<a href="#" class="white-link"><i class="icon-down-open-mini"></i></a>
				</div>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#42</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<a href="" class="assignee">
						<%= image_tag 'example.jpg' %>
					</a>
				</article>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#32</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<a href="" class="assignee">
						<%= image_tag 'example2.jpg' %>
					</a>
				</article>
			</div>
		</div>
		<div class="kan-ban-column">
			<div class="group">
				<div class="kan-ban-top-section completed">
					<h4>Completed</h4>
					<a href="#" class="white-link" ><i class="icon-down-open-mini"></i></a>
				</div>
				<article class="kan-ban-card past">
					<div class="group">
						<div class="name">
							<span class="card-number">#42</span>
							<h5>Name this Action</h5>
						</div>
					</div>
					<a href="" class="epic-name"><span>Epic Name:</span> Followed by user story blah and words</a>
					<div class="due-date">
						<i class="icon-calendar"></i><span>Submitted on Time</span>
					</div>
					<a href="" class="contextual"><i class="icon-dot-3"></i></a>
					<a href="" class="assignee">
						<%= image_tag 'example2.jpg' %>
					</a>
				</article>
			</div>
		</div>
	</div>
</div>